<div class="container">
    <div class="user-info-container">
        <div class="user-image">
            <clr-icon class="is-solid" size="64" shape="map-marker"></clr-icon>
        </div>
        <div class="user-info">
            <span class="name">
                Área o departamento
            </span>
            <span class="role-and-id">Nombre del área o departamento</span>
        </div>
    </div>
    
    <div class="user-info-container">
        <div class="user-image">
            <clr-icon class="is-solid" size="64" shape="briefcase"></clr-icon>
        </div>
        <div class="user-info">
            <span class="name">
                Nombre del curso o materia
            </span>
            <span class="role-and-id">Nombre del curso o materia</span>
        </div>
    </div>
    
    <div class="user-info-container">
        <div class="user-image">
            <clr-icon class="is-solid" size="64" shape="envelope"></clr-icon>
        </div>
        <div class="user-info">
            <span class="name">
                Correo
            </span>
            <span class="role-and-id">nombre@tec.mx</span>
        </div>
    </div>
</div>