h2 {
    color: rgba(68, 126, 174, 1);
    font-weight: bold;
    font-size: 30px;
}
hr {
    color:rgba(195, 190, 197, 1);
}
.card-columns {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

@media only screen and (max-width: 1620px) {
    /* For mobile phones: */
    .card-columns {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media only screen and (max-width: 1280px) {
    /* For mobile phones: */
    .card-columns {
        grid-template-columns: 33% 33% 33%;
    }
}

.card {
    max-width: 270px;
    margin: 1rem 0 !important;
    cursor: pointer;
    border: none;
    box-shadow: none !important;
    border-radius: 15px;
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.card.card-img > img, .card > .card-img:first-child:last-child > img {
    border-radius: 15px;
}
.head-options {
    position: absolute;
    top: 5px;
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 2%;
}
.head-options cds-icon {
    margin: 1%;
}
.card-img {
    width: 270px;
    height: 270px;
}
.card-img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
img.selected {
    border-color: rgb(68, 126, 173);
    border-width: 5px;
    border-style: solid;
}
h6 {
    position: absolute;
    margin: 0;
    bottom: 5px;
    left: 5px;
    right: 5px;
    color: white;
    max-width: 70%;
    font-weight: normal;
}
.span-new {
    background-color: rgb(233, 82, 82);
    border-radius: 10px;
    padding: 4px 10px;
    box-sizing: border-box;
    color: white;
}