<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12">
        <app-asset-card></app-asset-card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <app-asset-card></app-asset-card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <app-asset-card></app-asset-card>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12">
        <app-asset-card></app-asset-card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <app-asset-card></app-asset-card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <app-asset-card></app-asset-card>
    </div>
</div>