<section class="nav-group collapsible">
    <label for="tabexample1">Proyectos</label>
    <ul class="nav-list">
        <li><a class="nav-link">Laboratorio Virtual</a></li>
        <li><a class="nav-link">Supermercado</a></li>
        <li><a class="nav-link">Cerebro</a></li>
        <li><a class="nav-link">Historia de la animación</a></li>
        <hr>
        <li><a routerLink="visualizer" class="nav-link">ART3D</a></li>
        <li><a class="nav-link">Profesor Atom</a></li>
        <li><a class="nav-link">Biomedia</a></li>
    </ul>
</section>