<h2>Recursos MIRV</h2>
<hr>
<button class="btn btn-outline" (click)="openForm()">Agregar un nuevo recurso</button>


<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
  <clr-wizard-title>Ingresa la información del recurso que deseas subir</clr-wizard-title>

  <clr-wizard-button (click)="cancelForm()" [type]="'cancel'">Cancelar</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Regresar</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Siguiente</clr-wizard-button>
  <clr-wizard-button (click)="uploadForm()" [type]="'finish'">Finalizar</clr-wizard-button>
  <clr-wizard-button class="btn btn-primary" (click)="llenarInfo()">Llenar info</clr-wizard-button>


  <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid">
    <ng-template clrPageTitle>Información general</ng-template>
    <form clrForm #formPageOne="ngForm">
      <clr-input-container>
        <label>Nombre</label>
          <input clrInput required type="text" [(ngModel)]="newRegistry.name" name="name"/>
          <clr-control-helper>Coloque un nombre al recurso</clr-control-helper>
          <clr-control-error>¡Este campo es obligatorio!</clr-control-error>
      </clr-input-container>
      <clr-textarea-container>
        <label>Descripcion</label>
        <textarea clrTextarea required [(ngModel)]="newRegistry.desc" name="desc"></textarea>
        <clr-control-helper>Inserte una descripción breve</clr-control-helper>
        <clr-control-error>¡Este campo es obligatorio!</clr-control-error>
      </clr-textarea-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!formPageTwo.valid">
    <ng-template clrPageTitle>Información del solicitante</ng-template>
    <form clrForm #formPageTwo="ngForm">
      <clr-input-container>
          <label>Nombre</label>
        <input clrInput required type="text" [(ngModel)]="newRegistry.solicitor.name" name="solicitorname">
        <clr-control-error>¡Este campo es obligatorio!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input clrInput required type="text" [(ngModel)]="newRegistry.solicitor.email" name="solicitoremail">
        <clr-control-error>¡Este campo es obligatorio!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Materia</label>
        <input clrInput required type="text" [(ngModel)]="newRegistry.solicitor.subject" name="solicitorsubject">
        <clr-control-error>¡Este campo es obligatorio!</clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>Role</label>
        <select clrSelect required name="options" [(ngModel)]="newRegistry.solicitor.role" name="solicitorrole">
          <option *ngFor="let role of RoleTypes" [value]="role">{{role}}</option>
        </select>
        <clr-control-error>¡Este campo es obligatorio!</clr-control-error>
      </clr-select-container>
    </form>
  </clr-wizard-page>


  <clr-wizard-page [clrWizardPageNextDisabled]="newRegistry.file == null">
    <ng-template clrPageTitle>Subir archivo</ng-template>
    <!-- <div class="dropzone" dropzone
                        (hovered)= "toggleHover($event)"
                        (dropped)= "onDrop($event.target.files)" 
                        [class.hovering]="isHovering">
      <h3>Subir objeto</h3>
      <p>Drag and Drop any Model</p>

      <div class="file">
        <label for="file-label"> 
        <input type="file" name="file" class="file-input" (change)="assetbundleUpload($event.target.files)">
        </label>
      </div>
      <div *ngFor="let file of files">
        <app-model-upload [file]="file"></app-model-upload>
      </div>

    </div> -->

    <ngx-dropzone (change)="onSelect($event)" (maxFiles)="1" #assetFile>
      <ngx-dropzone-label>Arrastra tu archivo aqui</ngx-dropzone-label>
      <ngx-dropzone-preview [removable]="true" (removed)="onRemove()" *ngIf="newRegistry.file != null">
        <ngx-dropzone-label>{{ newRegistry.file.name }}</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>

    <div class="alert alert-danger" role="alert" *ngIf="fileDanger">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
              </div>
              <span class="alert-text">Tipo de archivo no permitido.</span>
          </div>
      </div>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="fileWarning">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                </div>
                <span class="alert-text">El unico archivo permitido para subir sin extensión es un assetbundle por favor asegurese que el archivo que esta por subir sea un assetbundle.</span>
            </div>
        </div>
    </div>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="newRegistry.restype == 'assetbundle' && newRegistry.target == null">
    <ng-template clrPageTitle>Subir target</ng-template>
    <ngx-dropzone (change)="onSelectTarget($event)" (maxFiles)="1" #targetFile *ngIf="newRegistry.restype == 'assetbundle'">
      <ngx-dropzone-label>Arrastra tu archivo aqui</ngx-dropzone-label>
      <ngx-dropzone-preview [removable]="true" (removed)="onRemoveTarget()" *ngIf="newRegistry.target != null">
        <ngx-dropzone-label>{{ newRegistry.file.name }}</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>

    <div class="alert alert-danger" role="alert" *ngIf="fileDangerTarget">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
              </div>
              <span class="alert-text">Tipo de archivo no permitido. Asegurese de subir un arhivo con extensión .jpg.</span>
          </div>
      </div>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="newRegistry.restype != 'assetbundle'">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>
              <span class="alert-text">El tipo de asset que desea subir no requiere de un target, por lo que puede finalizar dando clic en Finalizar.</span>
          </div>
      </div>
  </div>
  </clr-wizard-page>
</clr-wizard>

<app-modal-message [messageTitle]="messageTitle" [messageText]="messageText" (accept)="accept()" *ngIf="messageText != null"></app-modal-message>