<div class="container">
    <div class="intro">
        <h2>MIRV HUB </h2>
        <h4>Multimedia Interactiva y Realidad Virtual</h4>
        <p class="paragraph">Un equipo de creativos digitales, entre los que se encuentran Artistas digitales, Diseñadores y Coders, que generan, diseñan y desarrollan soluciones, experiencias y aplicaciones digitales educativas.</p>
        <br>
        <p class="paragraph">MRIVHUB es un espacio donde se recopila la documentacion de los proyectos así como el portafolio y recursos para la comunidad de educadores del Tec de Monterrey.</p>
    </div>
</div>