<table class="table table-noborder">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Materia</th>
            <th>Solicitante</th>
            <th>Tipo</th>
            <th>Tamaño</th>
            <th>Estatus</th>
            <th>Favorito</th>
            <th>Eliminar</th>
            <th>Descargar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre del Asset</td>
            <td>Codigo de la materia</td>
            <td>Nombre del solicitante</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-new">NUEVO</span></td>
            <td><clr-icon size="24" shape="heart"></clr-icon></td>
            <td><clr-icon size="24" shape="trash"></clr-icon></td>
            <td><clr-icon size="24" shape="download"></clr-icon></td>
        </tr>
        <tr>
            <td>Nombre del Asset</td>
            <td>Codigo de la materia</td>
            <td>Nombre del solicitante</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-updated">ACTUALIZADO</span></td>
            <td><clr-icon size="24" class="is-solid" shape="heart"></clr-icon></td>
            <td><clr-icon size="24" shape="trash"></clr-icon></td>
            <td><clr-icon size="24" shape="download"></clr-icon></td>
        </tr>
        <tr>
            <td>Nombre del Asset</td>
            <td>Codigo de la materia</td>
            <td>Nombre del solicitante</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-new">NUEVO</span></td>
            <td><clr-icon size="24" shape="heart"></clr-icon></td>
            <td><clr-icon size="24" shape="trash"></clr-icon></td>
            <td><clr-icon size="24" shape="download"></clr-icon></td>
        </tr>
        <tr>
            <td>Nombre del Asset</td>
            <td>Codigo de la materia</td>
            <td>Nombre del solicitante</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-updated">ACTUALIZADO</span></td>
            <td><clr-icon size="24" shape="heart"></clr-icon></td>
            <td><clr-icon size="24" shape="trash"></clr-icon></td>
            <td><clr-icon size="24" shape="download"></clr-icon></td>
        </tr>
        <tr>
            <td>Nombre del Asset</td>
            <td>Codigo de la materia</td>
            <td>Nombre del solicitante</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-new">NUEVO</span></td>
            <td><clr-icon size="24" class="is-solid" shape="heart"></clr-icon></td>
            <td><clr-icon size="24" shape="trash"></clr-icon></td>
            <td><clr-icon size="24" shape="download"></clr-icon></td>
        </tr>

    </tbody>
</table>