<h2>Agregar nuevo recurso</h2>
<hr>
<div>
    <p>Si desea agregar un archivo .fbx, o un .glb o un .obj o bien todos al mismo tiempo en un solo registro dar clic en "Agregar nuevo recurso", asegurese de contar con toda la información y con todos estos archivos:</p>
    <ul>
        <li>Información del solicitante (persona que solicitó el recurso, puede darlo de alta si no lo encuentra en la base de datos)</li>
        <li>Archivos que desea subir, como minimo puede subir 1 y como maximo 3, solamente 1 archivo por extension</li>
    </ul>
    <button class="btn btn-outline" routerLink="/upload/asset">Agregar nuevo recurso</button>
</div>
<div>
    <p>Si desea agregar un nuevo assetbundle dar clic en el boton "Agregar Assetbundle" donde debera subir forzosamente 2 assetbunldes: uno para el SO ios y otro para android.</p>
    <ul>
        <li>Información del solicitante (persona que solicitó el recurso, puede darlo de alta si no lo encuentra en la base de datos)</li>
        <li>Archivos que desea subir: un assetbundle para ios y un assetbundle para android. Es obligatorio contar con los dos archivos para concluir el registro</li>
    </ul>
    <button class="btn btn-outline" routerLink="/upload/assetbundle">Agregar Assetbundle</button>
</div>