cds-divider {
    margin: 3% 0;
}
.flex-columns {
    display: flex;
    flex-direction: column;
}

.img-section img {
    max-width: 240px;
    height: 240px;
    object-fit: contain;
}
.label.clickable {
    cursor: pointer;
}