<div class="card">
    <div class="card-block">
        <h3 class="card-title">{{name}}</h3>
        <p class="card-text">
            {{desc}}
        </p>
    </div>
    <div class="card-img">
        <img src="{{img}}">
    </div>
    <ul class="list-group">
        <li class="list-group-item"><b>Tipo de recurso:</b> {{restype}}</li>
        <li class="list-group-item"><b>Subido el:</b> {{createdat | date: 'dd/MM/yyyy hh:mm'}}</li>
    </ul>
    <div class="card-footer">
        <a href="{{downloadURL}}" class="btn btn-primary">Descargar</a>
    </div>
</div>