<table class="table table-noborder">
    <thead>
        <tr>
            <th>Tema</th>
            <th>Área</th>
            <th>Colaborador</th>
            <th>Tipo</th>
            <th>Tamaño</th>
            <th>Estatus</th>
            <th>Favorito</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre del documento</td>
            <td>Modelado 3D</td>
            <td>Colaborador</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-new">NUEVO</span></td>
            <td>
                <clr-icon size="24" shape="heart"></clr-icon>
            </td>
            <td>
                <clr-icon size="24" shape="trash"></clr-icon>
            </td>
        </tr>
        <tr>
            <td>Nombre del documento</td>
            <td>Animación en 3D</td>
            <td>Colaborador</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-updated">ACTUALIZADO</span></td>
            <td>
                <clr-icon size="24" class="is-solid" shape="heart"></clr-icon>
            </td>
            <td>
                <clr-icon size="24" shape="trash"></clr-icon>
            </td>
        </tr>
        <tr>
            <td>Nombre del documento</td>
            <td>Programación</td>
            <td>Colaborador</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-new">NUEVO</span></td>
            <td>
                <clr-icon size="24" class="is-solid" shape="heart"></clr-icon>
            </td>
            <td>
                <clr-icon size="24" shape="trash"></clr-icon>
            </td>
        </tr>
        <tr>
            <td>Nombre del documento</td>
            <td>UI/UX</td>
            <td>Colaborador</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-updated">ACTUALIZADO</span></td>
            <td>
                <clr-icon size="24" shape="heart"></clr-icon>
            </td>
            <td>
                <clr-icon size="24" shape="trash"></clr-icon>
            </td>
        </tr>
        <tr>
            <td>Nombre del documento</td>
            <td>GameDesign</td>
            <td>Colaborador</td>
            <td>Assetbundle</td>
            <td>14.1 MB</td>
            <td><span class="span-new">NUEVO</span></td>
            <td>
                <clr-icon size="24" class="is-solid" shape="heart"></clr-icon>
            </td>
            <td>
                <clr-icon size="24" shape="trash"></clr-icon>
            </td>
        </tr>
        

    </tbody>
</table>