<header class="header-6">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            <span class="title">MIRV HUB</span>
        </a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon-text">
            <clr-icon shape="user"></clr-icon>
            <span class="nav-text">User</span>
        </a>
        <a href="javascript://" class="nav-link nav-icon-text">
            <span class="nav-text">Signin</span>
        </a>
        <a href="#" (click)="signupInit()" class="nav-link nav-icon-text">
            <span class="nav-text">Signup</span>
        </a>
    </div>
</header>

<app-user-login-signup *ngIf="signup" [(signup)]="signup" (modalUpdate)="modalUpdate($event)"></app-user-login-signup>